@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

pre {font-family: "Fira Code";}

table {
    border: solid 1px black;
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    border: solid 1px black;
    padding: 5px;
    text-align: left;
}
td {
    border: solid 1px black;
    padding: 5px;
}